[submodule "pd-acid-core"]
	path = pd-acid-core
	url = https://github.com/chr15m/pd-acid-core.git
[submodule "pd-midi-guis"]
	path = pd-midi-guis
	url = https://github.com/chr15m/pd-midi-guis.git
[submodule "blockhead"]
	path = blockhead
	url = https://github.com/chr15m/blockhead.git
[submodule "808-thing"]
	path = 808-thing
	url = https://github.com/chr15m/808-thing.git
[submodule "rc-patches"]
	path = rc-patches
	url = https://github.com/danomatika/rc-patches.git
